input {
    width:20px;
    border:none;
    border-radius: 5px;
}
.row {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.container{
    margin: 15px 35%;
    text-align: center;
    background-color: cyan;
    border-radius: 10px;
    padding:20px;
}
p.heading {
    color: red;
    font-size: 25px;
    font-weight: 900;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.onerow {
    height: 50px;
}

.onerow * {
    vertical-align: middle;
}
table {
    margin: auto;
}